<div class="add-membership-cart">
  {%- render 'horizontal-product-membership', product: product,image: image, show_add_to_cart: true, background: background, text_color: text_color, atc_button_background: atc_button_background , atc_button_text_color: atc_button_text_color -%}
</div>