.shopify-section--featured-collection-list{
    //collection header
    .tab-collections{
        display: flex;
        column-gap: 12px;
        flex-wrap: wrap;
        .tab-collection{
            display: inline-flex;
            white-space: nowrap;
            font-size: .8125rem;
            padding: 5px 15px;
            height: 31px;
            border-radius: 40px;
            align-items: center;
            font-weight: 500;
            margin: 0 2px 2px 0;
            line-height: 1;
            background: rgba(53,52,53,.05);
            color: rgba(53,52,53,.8);
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            align-items: center;
            text-transform: capitalize;
            cursor: pointer;
        }
        .tab-collection.active{
            background-color: #353435;
            color: #fff;
            height: 33px;
        }
    }

    .gab-reducer{
        row-gap: 39px;
        @media only screen and (max-width: 699px){
            row-gap: 29px;
        }
    }
    //footer-content
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
        @media only screen and (max-width: 699px){
            flex-direction: column-reverse;
            .button{
                width: 100%;
                max-width: 450px;
            }
        }
        .paragraph-container{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 16px;
            img{
                width: 43px;
            }
        }
    }
}
//applique style to all 
product-list{
    column-gap: 16px !important;
    row-gap: 16px !important;
}
product-card{
    .product-card__info {
        padding: 18px;
        @media only screen and (max-width: 699px){
            padding: 15px 9px 12px;
        }
        .rating-with-text{
            grid-auto-flow: row;
            row-gap: 8px;
            @media only screen and (max-width: 699px){
                row-gap: 6px;
            }

            .jdgm-prev-badge__stars{
                .jdgm-star{
                    padding: 0 2.48px 0 0 !important;
                    font-weight: 400;
                    font-size: 14px;
                    @media only screen and (max-width: 699px){
                        font-size: 13px;
                    }
                }

                .jdgm-star:last-of-type {
                    padding: 0 !important;
                }
            }
            .jdgm-prev-badge__text{
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                top: 1px;
                position: relative;
                @media only screen and (max-width: 699px){
                    font-size: 13px;
                    line-height: 16px; 
                }
            }
        }
        .product-card__title{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            @media only screen and (max-width: 699px){
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
            }
        }

        .price-list  {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            margin-top: 8.72px;
            .text-subdued{
                color: rgb(var(--text-color) / 1);
            }
            @media only screen and (max-width: 699px){
                margin-top: 6px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    .product-card__badge-list{
        top: 10px;
        right: 10px;
        left: initial;
        @media only screen and (max-width: 699px){
            right: 5px;
            top: 4px;
        }
        .badge--primary{
            color: #000000;
        }
        .badge--on-sale{
            //color: #E93B40;
        }
        .badge{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            padding: 6px 12px;
            text-transform: uppercase;
            @media only screen and (max-width: 699px){
                font-size: 10px;
                line-height: 12px;
                padding: 5.5px 9px;
            }
        }
    }
}

//callout badges
.callout-container{
    display: flex;
    column-gap: 7px;
    row-gap: 5px;
    margin-top: 16px;
    flex-wrap: wrap;
    @media only screen and (max-width: 699px){
        margin-top: 11px;
    }
    .callout-badge{
        display: flex;
        column-gap: 7px;
        align-items: center;
        padding: 7px 14px 7px 9px;
        border-radius: 20px;
        @media only screen and (max-width: 699px){
            column-gap: 3px;
            padding-top: 4px;
            padding-right: 8px;
            padding-bottom: 4px;
        }
        .img-badge{
            width: 20px;
            height: 20px;
        }
        .text-badge{
            text-transform: capitalize;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
            @media only screen and (max-width: 699px){
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
    .padd-same{
        padding-left: 14px;
        @media only screen and (max-width: 699px){
            padding-left: 8px;
        }
    }
}