@font-face {
    font-family: "Clan Pro";
    src: url("ClanPro-CondBlackItalic.otf") format("opentype");
}
@font-face {
    font-family: "United Sans SemiCond";
    src: url("UnitedSansSmCdLt.otf") format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: "United Sans SemiCond";
    src: url("UnitedSansSmCdMd.otf") format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: "United Sans SemiCond";
    src: url("UnitedSansSmCdHv.otf") format("opentype");
    font-weight: 900;
}